---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Strategy from "../components/Strategy.astro";
import Services from "../components/Services.astro";
import Divider from "../components/Divider.astro";
import Portfolio from "../components/Portfolio.astro";
---

<Layout title="Eid Equity">
  <main class="z-10">
    <Hero />
    <Strategy />
    <Divider text="* Services *" />
    <Services />
    <Divider text="* Portfolio *" />
    <Portfolio />
  </main>
</Layout>
