---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Eid Equity">
	<header class="z-50">
		<Navbar/>
	</header>
	<main class="z-10">
		<Hero/>
	</main>
</Layout>

<style>
</style>
