---
---

<a href="https://rodkhleif.com/" target="_blank">
  <div
    class="flex p-4 md:p-28 justify-center gap-10 flex-col md:flex-row items-center"
  >
    <div class="flex flex-col justify-center items-center font-bold">
      <div
        class="relative rounded-full w-52 h-52 bg-no-repeat bg-[#a0a1a3] bg-center bg-contain bg-[url(https://yt3.googleusercontent.com/ytc/AGIKgqO_Njs2ujYOIBdmdWGaFlD1x-Q7Rf8w1Lr_lqiSZo0=s900-c-k-c0x00ffffff-no-rj)]"
      >
      </div>
      <p class="">Rod Khleif</p>
    </div>
  </div>
  <a href="https://www.perorealestate.com/" target="_blank">
    <div class="flex flex-col justify-center items-center font-bold">
      <div
        class="relative rounded-full w-52 h-52 bg-contain bg-no-repeat bg-center bg-black bg-[url('/images/Jason-Pero.webp')]"
      >
      </div>
      <p>Jason Pero</p>
    </div>
  </a>
</a>
