---
const { text } = Astro.props;
---

<div class="relative flex p-28 items-center mx-auto">
  <div class="flex-grow border-t border-myGold"></div>
  <span class="flex-shrink mx-4 text-myGold">{text}</span>
  <div class="flex-grow border-t border-myGold"></div>
</div>
