---
---
<div class="w-full">
    <div class="bg-[url('/images/wave-haikei.svg')] w-full h-64 bg-no-repeat bg-cover ">
    </div>
    <div class="bg-secondary text-white w-full flex flex-col justify-center items-center">
        <div class="container mx-auto bg-secondary text-white px-6 py-10">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 mb-16">
                <section class="flex flex-col items-start lg:mx-auto">
                    <h3 class="text-lg lg:text-xl font-semibold mb-2">Eid Equity</h3>
                    <p class="text-base lg:text-lg w-full">
                    Welcome to Eid Equity, a leading name in multifamily investment. We empower investors with financial freedom and early retirement, while cherishing family time. Join us for exceptional opportunities and a brighter future.</p>
                </section>

                <section class="relative flex flex-col items-start lg:mx-auto"> 
                    <h3 class="text-lg lg:text-xl font-semibold mb-2">Services</h3>
                    <ul class="space-y-2">
                        <li>Multifamily Investments</li>
                        <li>Financial Freedom Planning</li>
                        <li>Transparency</li>
                        <li>Market Analysis</li>
                        <li>Portfolio Management</li>
                        <li>Consultation</li>
                        <li>Long-Term Wealth Creation</li>
                    </ul>
                </section>

                <section class="flex flex-col items-start lg:mx-auto">
                    <h3 class="text-lg lg:text-xl font-semibold mb-2">Contact Info</h3>
                    <ul class="space-y-2">
                        <li class="flex items-center space-x-1">
                        <img src="/images/place.png" alt="Eid Equity's Location" class="w-4 h-fit mr-1"/>
                        <p class="text-base lg:text-lg">1234 Main St, City, State, Country</p>
                        </li>
                        <li class="flex items-center space-x-1">
                        <img src="/images/email.png" alt="Eid Equity's Email Address" class="w-4 h-fit mr-1"/>
                        <a href="mailto:info@eidequity.com" class="text-base lg:text-lg">info@eidequity.com</a>
                        </li>
                        <li class="flex items-center space-x-1">
                        <img src="/images/phone.png" alt="Eid Equity's Phone Number" class="w-4 h-fit mr-1" />
                        <a href="tel:1234567890" class="text-base lg:text-lg">123-456-7890</a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="flex space-x-4 mb-6">
            <a href="https://www.facebook.com/EidEquity" target="_blank" class="hover:scale-110 transition-transform">
                <img src="/images/facebook.png" alt="Facebook Icon - Link to Eid Equity's Facebook page" class="w-6 h-6"></a>
            <a href="https://twitter.com/EidEquity" target="_blank" class="hover:scale-110 transition-transform">
                <img src="/images/twitter.png" alt="Twitter Icon - Link to Eid Equity's Twitter page" class="w-6 h-6"></a>
            <a href="https://www.linkedin.com/company/eid-equity" target="_blank" class="hover:scale-110 transition-transform">
                <img src="/images/linkedin.png" alt="LinkedIn Icon - Link to Eid Equity's LinkedIn profile" class="w-6 h-6"></a>
            <a href="https://www.instagram.com/EidEquity" target="_blank" class="hover:scale-110 transition-transform">
                <img src="/images/instagram.png" alt="Instagram Icon - Link to Eid Equity's Instagram profile" class="w-6 h-6"></a>
        </div>
        <span class="text-base lg:text-lg text-center mb-2">&copy; 2023 - Eid Equity - All rights reserved</span>
    </div>
</div>