---
const { text } = Astro.props;
const { theme } = Astro.props;
---

{
    theme === "secondary" ? (
        <button id="secondaryBtn" class="text-white w-[300px] px-20 py-3 border font-medium rounded-md"><h1 class="text-xl">{text}</h1></button>
    ) : (
        <button id="primaryBtn" class="text-white w-[300px] px-20 py-3 bg-secondary rounded-md"><h1 class="text-xl">{text}</h1></button>
    )
}


<style>
    #secondaryBtn, #primaryBtn{
        transition: 0.2s ease-in-out;
    }

    #secondaryBtn:hover{
        background-color: #fff;
        color: black;
        border-color: #fff;
    }

    #primaryBtn:hover{
        background-color: #027ed6;
    }
</style>
