---

---

<nav class="rounded-br-[30px] rounded-bl-[30px] bg-test w-100 h-30 flex items-center justify-between px-16">
    <img class="w-40 h-auto object-cover" src="../../assets/EidEquity.webp" alt="logo">
    <ul class="flex  w-1/3 justify-evenly">
        <li class="mr-6">
        <a href="#" class="text-[1.875em] font-semibold text-primary">Home</a>
        </li>
        <li class="mr-6">
        <a href="#" class="text-[1.875em] hover:text-primary ">Strategy</a>
        </li>
        <li class="mr-6">
        <a href="#" class="text-[1.875em] hover:text-primary ">Services</a>
        </li>
        <li>
        <a href="#" class="text-[1.875em]  hover:text-primary ">Contact Us</a>
        </li>
    </ul>
</nav>