---
import Card from "./Card.astro";
---

<div
  class="p-4 md:px-28 grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8"
  id="Portfolio"
>
  <div class="rounded-lg bg-gray-100">
    <Card
      title="The Aspen"
      description="Fort Worth, TX | 224 Units"
      imgSrc="https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
    />
  </div>
  <div class="rounded-lg bg-gray-100">
    <Card
      title="The Aspen"
      description="Fort Worth, TX | 224 Units"
      imgSrc="https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
    />
  </div>
  <div class="rounded-lg bg-gray-100">
    <Card
      title="The Aspen"
      description="Fort Worth, TX | 224 Units"
      imgSrc="https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
    />
  </div>
  <div class="rounded-lg bg-gray-100">
    <Card
      title="The Aspen"
      description="Fort Worth, TX | 224 Units"
      imgSrc="https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
    />
  </div>
  <div class="rounded-lg bg-gray-100">
    <Card
      title="The Aspen"
      description="Fort Worth, TX | 224 Units"
      imgSrc="https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
    />
  </div>
  <div class="rounded-lg bg-gray-100">
    <Card
      title="The Aspen"
      description="Fort Worth, TX | 224 Units"
      imgSrc="https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
    />
  </div>
</div>
