---
import Card from "./Card.astro";
---

<div class="p-5 xl:px-28 flex gap-10 flex-col lg:flex-row justify-center">
  <Card
    title="Free e-book"
    description="Discover the world of reading with our FREE e-book! Accessible, engaging, and tailored for all, this e-book is your ticket to captivating tales and insightful wisdom. Begin your reading journey today!"
    imgSrc="https://images.unsplash.com/photo-1609895720459-394a6a8c99ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80"
  />
  <Card
    title="Free Education"
    description="Boost your English with our FREE webinar! An interactive, Zoom-based session led by expert educators, accessible from anywhere. Take your language skills to the next level right from home. Register today!"
    imgSrc="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80"
  />
</div>
