---
import Button from "./Button.astro";
---

<section class="text-blackish h-screen flex flex-col justify-center items-center md:flex-row md:justify-between p-4 md:p-28" id="strategy">
  <div class="flex flex-col mt-2 2xl:mt-16" data-observe>
    <h1 class="text-3xl xl:text-6xl text-center md:text-left">Why <span class="text-myGold">Invest</span> With Eid Equity?</h1>
    <p class="w-full md:w-[70ch] text-xl xl:text-2xl mt-9 leading-normal mb-10 text-center md:text-left">Welcome to Eid Equity, a leading name in multifamily investment. Our goal is to empower investors with financial freedom, enabling early retirement and cherished family time. Founded by Tarek Eid and Roushel Eid, we provide exceptional multifamily investment opportunities based on transparency, integrity, and professionalism. With meticulous research, we uncover hidden gems and maximize long-term wealth creation. Join Eid Equity today and embark on a journey towards a brighter future, where you can retire early and spend quality time with your beloved family.</p>
    <div class="mx-auto md:mx-0">
        <Button theme="gold" text="Get in touch"/>
    </div>
  </div>
  <img loading="lazy" class="w-full hidden 2xl:block md:w-[490px] md:h-[574px] mx-auto mt-6 md:mt-0" src="/images/house2.webp" alt="House Image 2" data-observe>
</section>

<!-- <script>
    const observer = new IntersectionObserver((entries) =>{
      entries.forEach((entry)=>{
        entry.isIntersecting ? entry.target.classList.add('show') : entry.target.classList.add('hidden');
      })
    });

    const elementsToObserve = document.querySelectorAll('[data-observe]');
    console.log(elementsToObserve);
    elementsToObserve.forEach((el)=>{
      observer.observe(el);
    })

</script>

<style>
  .hidden{
    transform: translateX(-100%);
    transition: all 1s;
  }

  .show{
    transform: translateX(0);
  }
</style> -->